.col {
    border: 1px soild #ddd;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    min-height: 80px;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0);
}

.box-5,
.box-6 {
    height: 400px;
}

.box-7,
.box-8 {
    height: 500px;
}

.box-9,
.box-10,
.box-11 {
    height: 500px;
}