
.button--language {
    background-color: rgba(255, 222, 173, 0);
    border: 0;
    color: #fff;
    font-weight: 500;

    &:hover {
        background-color: rgba(255, 222, 173, 0);
        border: 0;
        color: #fff;
    }
}